body {
  background-color: #9fd3c7;
  color: #142d4c;
}

a {
  color: #385170;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

a:hover {
  color: #385170;
  text-decoration: underline;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 50px 10px 0px 0px;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
.App h1 {
  text-align: center;
}
